.list_GroupItem {
  transition: ease-in-out 0.5s;
  cursor: pointer;
  background-color: #ffffff;
  transition: transform 0.8s;
  transform-style: preserve-3d;
  min-height: 350px;
  display: flex;
  flex-direction: row;
  z-index: 8;
}


.list_GroupItem:hover {
  transform: scale(1.08);
}



.profile_front,
.profile_back {
  position: absolute;
  width: 100%;
  height: 100%;
}

.profile_front {
  transition: all 0.5s ease-in-out;
  width: 100%;
  max-width: 520px;
  max-height: 350px;
  /* visibility: visible; */
  display: block;
  transform: translate3d(0, 0, 0);
  z-index: 100;
  background: #ffffff;
}




.profile_Block {
  position: relative;
  transition: all 0.5s ease-in-out;
  top: -10px;
  left: 265px;
  /* transform: translate3d(0, 0, 0); */
  /* transition: all 0.5s ease-in-out; */
  display: block;
  min-width: 400px;
  max-width: 600px;
  z-index: 200;
}



.close {
  transition: all 0.5s ease-in-out;
  width: 100%;
  height: 100%;
  display: none;
  /* transform: translate3d(100%, 0, 0); */
}

.user_Name {
  padding: 5px 20px;
  font-weight: bolder;
}

.name {
  display: flex;
  flex-direction: row;
  margin: 5px;
  margin-bottom: 20px;
}

/* Shadow */
.profile_fadeTop {
  /* left: -10px; */
  top: -35px;
  position: relative;
  height: 50px;
  background-image: linear-gradient(
    360deg,
    transparent,
    rgba(11, 223, 202, 0.61)
  );
}

.profile_fadeBtm {
  height: 50px;
  top: 20px;
  position: relative;
  /* left: -10px; */
  background-image: linear-gradient(
    180deg,
    transparent,
    rgba(11, 223, 202, 0.61)
  );
}

.domain_Name {
  padding: 5px 20px;
  font-weight: bolder;
  /* margin-bottom: 30px; */
}

.phone {
  margin-top: 40px;
  margin-bottom: 20px;
  font-weight: bolder;
  font-size: smaller;
}

.phone span {
  font-weight: lighter;
  font-size: smaller;
}

.mac_Address {
  margin-top: 25px;
  margin-bottom: 25px;
  font-weight: bolder;
  /* font-size: smaller; */
}

.mac_Address span {
  font-weight: lighter;
  font-size: smaller;
}

.email {
  /* 
  float: right;
  top: 45px;
  right: 25px;
  font-style: italic;
  */
  position: relative;
  top: -10px;
  margin: 2px 0;
  padding: 0;
   font-size: small; 
   /*
  color: blue;
  text-decoration: underline; */
  
}

.URL {
position: relative;
  /* margin-top: 0px; */
  margin-bottom: 35px;
  background: rgba(41, 38, 38, 0.2);
  padding: 5px 0;
  font-size: smaller;
  color: #333;
  padding-left: 10px;
  border: #333333 solid 1px;
  overflow-y: hidden;
  overflow-x: scroll;
  max-width: 250px;
}

.URL::-webkit-scrollbar{
  display: none;
  margin-bottom: 10px;
}

.geo {
  position: relative;
  top:-20px;

}

.co_ord {
  margin-top: 10px;
}

.co_ord .lat{
  font-weight: bolder;
  font-size: smaller;
  margin-bottom: 5px;

}

.co_ord .long{
  font-weight: bolder;
  font-size: smaller;

}

.lat span{
  font-weight: lighter;
}

.long span{
  font-weight: lighter;

}


.pay_Mtd {
  margin-top: 35px;
  margin-right: 200px;
  display: block;
}

.last_Login {
  position: relative;
  top: 50px;
  display: flex;
  text-align: center;
  bottom: 20px;
  left: 10px;
  /* border-bottom: #333333 solid 2px; */
}

.last_Login span {
  font-size: smaller;
}



h4 span {
  font-weight: lighter;
}

.first_Name {
  display: flex;
  flex-direction: column;
  margin-right: 15px;
}

.last_Name {
  display: flex;
  flex-direction: column;
  position: relative;
  /* right: 70px; */
}

.first_Name span {
  border-top: #333 solid 1px;
  font-weight: bolder;
  font-size: smaller;
}

.last_Name span {
  border-top: #333 solid 1px;
  font-weight: bolder;
  font-size: smaller;
}

.gender {
  position: relative;
  top: 20px;
  margin-bottom: 10px;
}

.credit_Card {
  position: relative;
  top: 30px;
  /* left: -9px; */
  margin: 5px 0;
  padding-top: 5px;
}

.card_Header {
  margin-bottom: 5px;
  margin-left: 10px;
}

.card_Details {
  border-top: #333 solid 2px;
  border-bottom: #333 solid 2px;
  padding: 10px 0;
  padding-left: 5px;
}

.card_Details span {
  font-size: smaller;
}

.link {
  font-style: normal;
  font-weight: bolder;
  color: black;
  text-decoration: none;
}
